img {
    width: 100%;
}

.bg-faded{
    background-color: hsla(0,0%,100%,.85);
}

.intro{
    position: relative;
}


@media (min-width: 992px){
    .intro .intro-img {
        width: 100%;
        height: auto;
        float: right;
    }
    
    .intro {
        display: flex;
        align-items: center;
    }

    .intro .intro-text {
        left: 0;
        width: 60%;
        position: absolute;
        box-sizing: border-box;
    }
    .intro .intro-text-r {
        right: 0;
        width: 60%;
        position: absolute;
        box-sizing: border-box;
    }
}