<div class="intro">
    <img src="../../../assets/img/vehiculo.png" class="img-fluid intro-img">
    <div class="bg-faded text-center p-5 rounded intro-text">
        <h1>Bienvenido a Smart Vehicle</h1>
        <p>Somos una empresa que lleva varios años innovando la movilización de las personas en su entorno; ofrecemos a nuestros clientes nuevas formas de movilizarse con la comodidad, tranquilidad y seguridad que requiera.</p>
    </div>
</div>

<div class="intro" >
    <img src="../../../assets/img/about.jpg" class="img-fluid ">
    <div class="bg-faded text-center p-5 rounded intro-text-r ">
        <h1>Mision</h1>
        <p>Ser una empresa líder en innovación y especializada en venta y alquiler de vehículos inteligentes, contando con personal capacitado en las nuevas tecnologías, que garanticen un servicio de excelente calidad, cumpliendo con los estándares del mercado, trabajando por el bienestar y crecimiento de nuestra organización.</p>
    </div>
</div>

<div class="intro" >
    <img src="../../../assets/img/vehiculo2.jpg" class="img-fluid">
    <div class="bg-faded text-center p-5 rounded intro-text">
        <h1>Visión</h1>
        <p>Consolidarse como la empresa referente y líder en ventas y alquiler de vehículos inteligentes, enfocada en valores de respeto, seriedad, honradez y responsabilidad hacia las personas que utilicen nuestros servicios y con el medioambiente.</p>
    </div>
</div>





