<div class="contenedor bg-primary">
  <div class="contenedor-formulario bg-faded" >
    <div class="d-flex justify-content-center align-items-center py-3">
      <h3>Comuníquese con nosotros</h3>
    </div>
    <form class="row g-3 needs-validation mx-2 mb-2" novalidate>
      <div class="col-md-6">
        <label for="validationName" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="validationName" placeholder="Nombres" required>
        <div class="invalid-feedback">
          Por favor ingrese sus nombres.
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationLastName" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="validationLastName" placeholder="Apellidos" required>
        <div class="invalid-feedback">
          Por favor ingrese sus apellidos.
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationEmail" class="form-label">Correo Electronico</label>
        <input type="email" class="form-control" id="validationEmail" placeholder="Correo electronico" required>
        <div class="invalid-feedback">
          Por favor ingrese su correo electronico.
        </div>
      </div>
      <div class="col-md-3">
        <label for="validationPhone" class="form-label">Telefono</label>
        <input type="phone" class="form-control" id="validationPhone" placeholder="Telefono" required>
        <div class="invalid-feedback">
          Por favor ingrese su telefono de contacto.
        </div>
      </div>
      <div class="col-md-3">
        <label for="validationCity" class="form-label">Ciudad</label>
        <input type="text" class="form-control" id="validationCity" placeholder="Ciudad" required>
        <div class="invalid-feedback">
          Por favor ingrese una ciudad.
        </div>
      </div>
      <div class="col-12">
        <label for="validationMessage" class="form-label">Su mensaje</label>
        <textarea class="form-control" id="validationMessage" rows="3" placeholder="Escriba aquí su mensaje..." required></textarea>
        <div class="invalid-feedback"> 
          Por favor ingrese su mensaje.
        </div>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Acepto terminos y condiciones.
          </label>
          <div class="invalid-feedback">
            Debes estar de acuerdo antes de enviar.
          </div>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <button class="btn btn-success btn-lg" type="submit">Enviar</button>
      </div>
    </form>
  </div>
</div>

<!--
<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">First name</label>
      <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Last name</label>
      <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">City</label>
      <input type="text" class="form-control" id="validationCustom03" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom04" class="form-label">State</label>
      <select class="form-select" id="validationCustom04" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom05" class="form-label">Zip</label>
      <input type="text" class="form-control" id="validationCustom05" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
-->


