.bg-faded{
    background-color: hsla(0,0%,100%,.85);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contenedor-formulario{
    border-radius: 10px;
    width: 50%;
    margin: 80px 0 80px;

    
}