<section class="login-clean">
    <form method="post" [formGroup]="fgValidador" (ngSubmit)= "CrearUsuario()">
        <h2 class="text-center">Registrese</h2>
        <div class="illustration">
            <i class="fas fa-location-arrow"></i>
        </div>
        <div class="mb-3 mx-3">
            <input class="form-control" type="text" placeholder="Nombres" formControlName="nombres">
        </div>
        <div class="mb-3 mx-3">
            <input class="form-control" type="text" placeholder="Apellidos" formControlName="apellidos">
        </div>
        <div class="mb-3 mx-3">
            <input class="form-control" type="phone" placeholder="Telefono" formControlName="telefono">
        </div>
        <div class="mb-3 mx-3">
            <input class="form-control" type="email" placeholder="Correo electronico" formControlName="correo">
        </div>
        <div class="mb-3 mx-3">
            <button class="btn btn-primary d-block w-100" type="submit" [disabled]="!fgValidador.valid">Crear cuenta</button>
        </div>    
    </form>
</section>